extends ./layouts/index

block content
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="About image" class="img-fluid")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, facere distinctio, quo dignissimos minus minima tenetur qui, laudantium modi dolores molestiae nisi iure deserunt inventore quod quaerat nesciunt veniam ut.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, iusto quisquam dolorem, temporibus molestias nam ipsum tempora ullam, voluptatibus architecto cumque quo unde voluptas placeat atque earum. Voluptatem, obcaecati quibusdam!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, iusto quisquam dolorem, temporibus molestias nam ipsum tempora ullam, voluptatibus architecto cumque quo unde voluptas placeat atque earum. Voluptatem, obcaecati quibusdam!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, iusto quisquam dolorem, temporibus molestias nam ipsum tempora ullam, voluptatibus architecto cumque quo unde voluptas placeat atque earum. Voluptatem, obcaecati quibusdam!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="security icon" class="img-fluid mb-4")
                    h2.mb-4 Security
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="security icon" class="img-fluid mb-4")
                    h2.mb-4 Best Destinys
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="security icon" class="img-fluid mb-4")
                    h2.mb-4 Best Prices
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus